("➡ Sequencer", Sequencer((
    random: false,
)), [
    ("🏄 Spawn", Spawn((
        asset: (
            prop: Value(""),
        ),
        name: (
            prop: Value(""),
        ),
        target: (
            prop: Value(([])),
        ),
        scene: None,
    )), [], (
        pos: (398.15234, 36.195313),
    )),
    ("🏋 Anim", Anim((
        asset: (
            prop: Value(""),
        ),
        target: (
            prop: Value(([])),
        ),
        repeat: false,
    )), [], (
        pos: (400.36328, 326.42188),
    )),
], (
    pos: (167.85547, 36.472656),
))