("➡ Sequencer", Sequencer((
    random: false,
)), [
    ("🏄 Spawn", Spawn((
        asset: (
            prop: Eval(
                eval: "\"npc/Body/Body_Blue_001.glb#Scene0\"",
            ),
        ),
        name: (
            prop: Value("🏄 Character"),
        ),
    )), [], (
        pos: (400.0, 0.0),
    )),
    ("🏄 Spawn", Spawn((
        asset: (
            prop: Value("npc/Hair/Hair_001.glb#Scene0"),
        ),
        name: (
            prop: Value("Hair"),
        ),
    )), [], (
        pos: (394.90625, 196.23438),
    )),
    ("🏋 Anim", Anim((
        asset: (
            prop: Eval(
                eval: "\"npc/Animation_rig/Skinning_Test.glb#Animation0\"",
            ),
        ),
        target: (
            prop: Value("/🏄 Character/[0]/RootNode"),
        ),
        repeat: (
            prop: Value(false),
        ),
    )), [], (
        pos: (393.0664, 392.60156),
    )),
], (
    pos: (200.0, 0.0),
))